<!-- Contenedor 1 -->
<div class="bg-blue-700 p-5">
  <div class="text-white font-semibold">
    <h1 class="text-2xl uppercase">Credenciales de acceso</h1>
  </div>
</div>

<!-- Body -->
<div class="flex flex-col  p-5 bg-white  dark:bg-gray-800">
  <div class="flex flex-col">
    <div class="flex justify-end mb-10">
      <button
        (click)="toggleModal()"
        class="bg-blue-600 text-white text-sm font-semibold rounded-sm p-2 w-auto hover:bg-blue-700 mr-2"
      >
        <i class="fa-solid fa-square-plus"></i> Agregar Credenciales
      </button>
      <button
        (click)="downloadExcel()"
        class="bg-green-500 text-white text-sm font-semibold rounded-sm p-2 w-auto hover:bg-green-600 mr-2"
      >
        <i class="fa-solid fa-file-excel"></i> Descargar Excel
      </button>
      <button
        class="bg-red-600 text-white text-sm font-semibold rounded-sm p-2 w-auto hover:bg-red-700"
      >
        <i class="fa-solid fa-file-pdf"></i> Descargar PDF
      </button>
    </div>
    <hr class="mb-5" />
    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="row-border hover whitespace-nowrap"
    ></table>
  </div>
</div>
<!-- Final del body -->
<!-- Modal-->
<app-modal
  *ngIf="showModal"
  [showModal]="showModal"
  [title]="titleModal"
  (closeModal)="toggleModal()"
>
  <form [formGroup]="CredentialsForm" (ngSubmit)="saveCredential()">
    <div class="flex flex-col justify-center">
      <div class="mb-4 mt-4" *ngIf="isEditing">
        <div class="relative z-0 w-full group">
          <input
            formControlName="employee"
            [disabled]="isEditing"
            type="text"
            name="floating_employee"
            id="floating_employee"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-colorPrimary peer flex-shrink-0"
            placeholder=" "
            required
          />
          <label
            for="floating_name"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-colorPrimary duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-colorPrimary peer-focus:dark:text-colorPrimary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Empleado</label
          >
        </div>
      </div>

      <div class="mb-4 mt-4" *ngIf="!isEditing">
        <div class="relative z-0 w-full group">
          <label
            for="employeeId"
            class="block mb-2 text-sm font-medium text-gray-500 dark:text-white"
            >Empleado</label
          >
          <select
            id="employeeId"
            formControlName="employeeId"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option *ngFor="let employee of employees" [value]="employee.id">
              {{ employee.name }} {{ employee.surname }}
            </option>
          </select>
        </div>
      </div>

      <div class="mb-4 mt-4">
        <div class="relative z-0 w-full group dark:text-white">
          <input
            formControlName="username"
            type="text"
            name="floating_username"
            id="floating_username"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white  dark:bg-gray-800 dark:border-gray-600 dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-blue peer flex-shrink-0"
            placeholder=" "
            required
          />
          <label
            for="floating_username"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto dark:peer-focus:text-white peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Usuario de acceso</label
          >
        </div>
      </div>

      <div class="mb-4 mt-4" *ngIf="!isEditing">
        <div class="relative z-0 w-full group">
          <input
            formControlName="password"
            type="password"
            name="floating_password"
            id="floating_password"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-blue-600 peer flex-shrink-0"
            placeholder=" "
            required
          />
          <label
            for="floating_password"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-white duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto dark:peer-focus:text-white peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Contraseña</label
          >
        </div>
      </div>

      <div class="mb-4 mt-4">
        <div class="relative z-0 w-full group">
          <label
            for="roleId"
            class="block mb-2 text-sm font-medium text-gray-500 dark:text-white"
            >Seleccione el rol</label
          >
          <select
            id="roleId"
            formControlName="roleId"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option *ngFor="let role of roles" [value]="role.id">
              {{ role.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="bg-blue-600 hover:bg-blue-800 text-white px-4 py-2 rounded"
    >
      {{ isEditing ? "Guardar cambios" : "Añadir" }}
    </button>
  </form>
</app-modal>
