<!-- Contenedor principal -->
<div class="bg-blue-700 p-5 text-white font-semibold">
  <h1 class="text-2xl uppercase">Credenciales de acceso</h1>
</div>

<!-- Cuerpo -->
<div class="flex flex-col p-5 bg-white dark:bg-gray-900">
  <div class="flex justify-end mb-10 space-x-2">
    <button (click)="toggleModal()" class="btn-action bg-blue-600 p-2 hover:bg-blue-700 text-white">
      <i class="fa-solid fa-square-plus"></i> Agregar Credenciales
    </button>
    <button (click)="downloadExcel()" class="btn-action bg-green-500 p-2 hover:bg-green-600 text-white">
      <i class="fa-solid fa-file-excel"></i> Descargar Excel
    </button>
    <button class="btn-action bg-red-600 hover:bg-red-700 p-2 text-white">
      <i class="fa-solid fa-file-pdf"></i> Descargar PDF
    </button>
  </div>

  <hr class="mb-5" />

  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="row-border hover whitespace-nowrap dark:text-white"
  ></table>
</div>

<!-- Modal -->
<app-modal
  *ngIf="showModal"
  [showModal]="showModal"
  [title]="titleModal"
  (closeModal)="toggleModal()"
>
  <form [formGroup]="CredentialsForm" (ngSubmit)="saveCredential()">
    <div class="flex flex-col space-y-4 mt-4">
      <!-- Empleado -->
      <ng-container *ngIf="isEditing; else selectEmpleado">
        <div class="input-floating">
          <input
            formControlName="employee"
            [disabled]="isEditing"
            type="text"
            id="floating_employee"
            placeholder=" "
            required
          />
          <label for="floating_employee">Empleado</label>
        </div>
      </ng-container>

      <ng-template #selectEmpleado>
        <div>
          <label for="employeeId" class="label">Empleado</label>
          <select
            id="employeeId"
            formControlName="employeeId"
            class="select"
          >
            <option *ngFor="let employee of employees" [value]="employee.id">
              {{ employee.name }} {{ employee.surname }}
            </option>
          </select>
        </div>
      </ng-template>

      <!-- Usuario -->
      <div class="input-floating">
        <input
          formControlName="username"
          type="text"
          id="floating_username"
          placeholder=" "
          required
        />
        <label for="floating_username">Usuario de acceso</label>
      </div>

      <!-- Contraseña -->
      <div *ngIf="!isEditing" class="input-floating">
        <input
          formControlName="password"
          type="password"
          id="floating_password"
          placeholder=" "
          required
        />
        <label for="floating_password">Contraseña</label>
      </div>

      <!-- Rol -->
      <div>
        <label for="roleId" class="label">Seleccione el rol</label>
        <select
          id="roleId"
          formControlName="roleId"
          class="select"
        >
          <option *ngFor="let role of roles" [value]="role.id">
            {{ role.name }}
          </option>
        </select>
      </div>

      <button type="submit" class="bg-blue-600 hover:bg-blue-800 text-white px-4 py-2 rounded">
        {{ isEditing ? 'Guardar cambios' : 'Añadir' }}
      </button>
    </div>
  </form>
</app-modal>
