<div class="bg-blue-700 p-5">
    <div class="text-white font-semibold">
      <h1 class="text-2xl uppercase">Términos y condiciones</h1>
    </div>
  </div>
<div class="max-w-4xl mx-auto p-6 bg-white shadow-lg rounded-lg">
    <!-- <p class="text-gray-700"><strong>Fecha de entrada en vigor:</strong> [Fecha]</p> -->

    <div class="mt-4">
      <h2 class="text-xl font-semibold">1. Introducción</h2>
      <p class="text-gray-600">Bienvenido a <strong>POSDEK</strong>. Al acceder y utilizar nuestra plataforma de inventarios, aceptas cumplir con estos términos y condiciones.</p>
    </div>

    <div class="mt-4">
      <h2 class="text-xl font-semibold">2. Uso de la Plataforma</h2>
      <p class="text-gray-600">Los usuarios deben utilizar la plataforma conforme a la ley y evitar cualquier actividad que pueda afectar su funcionamiento o la seguridad de los datos.</p>
    </div>

    <div class="mt-4">
      <h2 class="text-xl font-semibold">3. Registro y Seguridad</h2>
      <ul class="list-disc pl-5 text-gray-600">
        <li>Los usuarios son responsables de la confidencialidad de sus credenciales.</li>
        <li>El uso no autorizado de cuentas será motivo de suspensión.</li>
      </ul>
    </div>

    <div class="mt-4">
      <h2 class="text-xl font-semibold">4. Propiedad Intelectual</h2>
      <p class="text-gray-600">Todos los derechos sobre la plataforma, su contenido y marca pertenecen a INCODEK o sus licenciantes.</p>
    </div>

    <div class="mt-4">
      <h2 class="text-xl font-semibold">5. Responsabilidades</h2>
      <p class="text-gray-600">No nos hacemos responsables de daños derivados del uso incorrecto de la plataforma o interrupciones del servicio.</p>
    </div>

    <div class="mt-4">
      <h2 class="text-xl font-semibold">6. Modificaciones</h2>
      <p class="text-gray-600">Nos reservamos el derecho de actualizar estos términos en cualquier momento, notificando a los usuarios sobre cambios importantes.</p>
    </div>

    <div class="mt-4">
      <h2 class="text-xl font-semibold">7. Contacto</h2>
      <p class="text-gray-600">Si tienes preguntas sobre estos términos, contáctanos en <strong>info&#64;posdek.com</strong>.</p>
    </div>
  </div>