<div class="bg-blue-700 p-5">
  <div class="text-white font-semibold">
    <h1 class="text-2xl uppercase">Colaboradores</h1>
  </div>
</div>

<div id="card-body" class="flex flex-col border border-gray-100 rounded mt-5">
  <!-- Título -->
  <div class="p-2 bg-gray-300">
    <h1 class="text-sm font-semibold text-gray-600 uppercase">
      Información del colaborador
    </h1>
  </div>

  <!-- Formulario -->
  <div class="bg-white dark:bg-gray-900 p-4 space-y-4">
    <form [formGroup]="EmployeesForm">
    
      <div class="flex mt-5 mb-5" *ngIf="isUpdate">
        <div class="w-32 mr-4">
          <label for="codeEmployee" class="text-sm font-semibold text-gray-600 dark:text-white"
            >Código colaborador</label
          >
          <input
            formControlName="codeEmployee"
            [disabled]="isEditing"
            type="text"
            id="codeEmployee"
            class="rounded p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
        </div>
      </div>

      <div class="flex mt-5 mb-5">
        <div class="w-64 mr-4">
          <label for="dni" class="text-sm font-semibold text-gray-600 dark:text-white"
            >N.U.I</label
          >
          <input
            formControlName="dni"
            type="text"
            id="dni"
            class="rounded p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
        </div>
        <div class="w-1/3 mr-4">
          <label for="name" class="text-sm font-semibold text-gray-600 dark:text-white"
            >Nombres completos</label
          >
          <input
            formControlName="name"
            type="text"
            id="name"
            class="rounded p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
        </div>
        <div class="w-1/3">
          <label for="surname" class="text-sm font-semibold text-gray-600 dark:text-white"
            >Apellidos completos</label
          >
          <input
            formControlName="surname"
            type="text"
            id="surname"
            class="rounded p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
        </div>
      </div>

      <!-- Cuarta fila - Precios -->
      <div class="flex mt-5 mb-5">
        <div class="w-42 mr-4">
          <label for="tlf" class="text-sm font-semibold text-gray-600 dark:text-white">
            Teléfono de contacto
          </label>
          <input
            formControlName="tlf"
            type="tel"
            id="tlf"
            class="rounded p-2 block w-full border border-gray-300 dark:bg-gray-800"
            placeholder="+593 999 999 999"
          />
        </div>
        <div class="w-64">
          <label for="email" class="text-sm font-semibold text-gray-600 dark:text-white">
            Correo electrónico
          </label>

          <input
            formControlName="email"
            type="email"
            id="email"
            class="rounded p-2 block w-full border border-gray-300 dark:bg-gray-800"
            placeholder="supplier@posdek.com"
          />
        </div>
      </div>

      <!-- Quinta fila -->
      <div class="flex mt-5 mb-5">
        <div class="w-full mr-4">
          <label for="address" class="text-sm font-semibold text-gray-600 dark:text-white"
            >Dirección domiciliaria</label
          >
          <textarea
            formControlName="address"
            class="rounded p-2 block w-full border border-gray-300 dark:bg-gray-800"
            id="address"
          ></textarea>
        </div>
      </div>

      <!-- Quinta fila -->
      <div class="flex mt-5 mb-5">
        <div class="w-1/3 mr-4">
          <button
            (click)="saveEmployee()"
            class="bg-blue-600 text-white text-sm font-semibold rounded-sm p-2 w-auto hover:bg-blue-700 mr-2"
          >
            <i class="fa-solid fa-floppy-disk"></i>
            {{ isUpdate ? "Guardar cambios" : "Añadir" }}
          </button>
          <button
            (click)="btnViewEmployees()"
            class="text-gray-500 bg-gray-200 dark:text-white dark:bg-gray-600 dark:hover:bg-gray-400 text-sm font-semibold rounded-sm p-2 w-auto hover:bg-gray-300 mr-2"
          >
            Regresar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
