<!--Inicio del Header -->
<div class="bg-blue-600 rounded-t-2xl p-5 mt-2">
  <div class="flex flex-row">
    <div class="p-2">
      <img
        loading="lazy"
        class="w-20 h-20 p-1 rounded-full ring-2 bg-white dark:bg-white"
        src="assets/img/profile.jpeg"
        alt="Bordered avatar"
      />
    </div>
    <div class="p-1">
      <h2 class="text-white font-semibold mt-1.5 text-2xl">Hola, {{ userLogged }}</h2>
      <p class="text-white font-medium text-sm">{{ role }}</p>
    </div>
  </div>
</div>
<!--Final del Header -->

<div class="bg-white dark:bg-gray-700">
  <!-- Cards -->
  <div class="grid grid-cols-2 md:grid-cols-4 gap-6 p-5">
    <!-- Card: Productos registrados -->
    <div
      class="bg-white dark:bg-gray-800 dark:hover:shadow-lg rounded-2xl border p-6 hover:shadow-lg transition-all"
    >
      <h2 class="text-sm text-gray-500 dark:text-gray-300 font-medium mb-1">
        Productos registrados
      </h2>
      <p
        class="text-4xl font-bold text-gray-800 dark:text-white"
        [appCountUp]="TotalProducts"
        [duration]="1000"
        [formatCurrency]="false"
      >
        {{ TotalProducts }}
      </p>
    </div>

    <!-- Card: Pedidos realizados -->
    <div
      class="bg-white dark:bg-gray-800 rounded-2xl border p-6 hover:shadow-lg transition-all"
    >
      <h2 class="text-sm text-gray-500 dark:text-gray-300 font-medium mb-1">
        Pedidos realizados
      </h2>
      <p
        class="text-4xl font-bold text-gray-800 dark:text-white"
        [appCountUp]="TotalOrders"
        [duration]="1000"
        [formatCurrency]="false"
      >
        {{ TotalOrders }}
      </p>
    </div>

    <!-- Card: Ganancias -->
    <div
      class="bg-white dark:bg-gray-800 rounded-2xl border p-6 hover:shadow-lg transition-all"
    >
      <h2 class="text-sm text-gray-500 dark:text-gray-300 font-medium mb-1">
        Ganancias estimadas
      </h2>
      <p
        class="text-4xl font-bold text-green-600 dark:text-green-400"
        [appCountUp]="TotalEarnings"
        [duration]="1500"
        [useSuffix]="true"
        [formatCurrency]="true"
        currency="CLP"
        locale="es-CL"
      >
      </p>
    </div>

    <!-- Card: Tu Suscripción -->
    <div
      class="bg-white dark:bg-gray-800 rounded-2xl border p-6 hover:shadow-lg transition-all"
    >
      <h2 class="text-sm text-gray-500 dark:text-gray-300 font-medium mb-1">
        Tu Suscripción
      </h2>
      <p class="text-4xl font-bold text-gray-800 dark:text-white">Activa</p>
    </div>
  </div>

  <!-- Fin de las Cards -->

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-5">
    <!-- Gráfico de Ventas -->
    <div class="bg-white dark:bg-gray-800 rounded-2xl border p-6">
      <h2 class="text-sm text-gray-500 dark:text-gray-300 font-medium mb-1">
        Ventas
      </h2>
      <!-- <app-chart></app-chart> -->
    </div>

    <!-- Gráfico de Productos Vendidos -->
    <div class="bg-white dark:bg-gray-800 rounded-2xl border p-6">
      <h2 class="text-sm text-gray-500 dark:text-gray-300 font-medium mb-1">
        Productos Vendidos
      </h2>
      <!-- <app-chart-products></app-chart-products> -->
    </div>

</div>
