<div
  class="bg-[url('https://cdn.pixabay.com/photo/2017/09/03/06/12/abstract-2709402_1280.png')] bg-cover bg-center bg-no-repeat p-10 mt-2 rounded-t-2xl"
>
  <div class="flex flex-row">
    <div class="p-2">
      <img
        loading="lazy"
        class="w-20 h-20 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        src="assets/img/avatar.jpg"
        alt="Bordered avatar"
      />
    </div>
    <div class="p-1">
      <p class="text-white font-medium text-sm">Bienvenido</p>
      <h2 class="text-white font-semibold mt-1.5 text-2xl">{{userLogged}}</h2>
      <p class="text-white font-medium text-sm lowercase">{{role}}</p>
      <div class="mt-8">
        <button
          type="submit"
          class="bg-colorSecondary p-2 rounded text-white"
        >
          <i class="fa-solid fa-square-plus text-white mr-1 text-md"></i> Agregar producto
        </button>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col lg:flex-row shadow-2xl p-10 justify-center gap-5">
  <!-- Tarjeta Reutilizable -->
  <div class="card">
    <div class="flex justify-between items-center mb-2">
      <h2 class="card-title">Últimas órdenes</h2>
      <button type="submit" class="border border-colorPrimary p-2 rounded text-colorPrimary hover:bg-colorPrimary hover:text-white">Ver historial completo</button>
    </div>
    <hr />
    <div class="flex flex-row justify-center mt-12 text-xl text-gray-400">
      <p class="font-semibold">No se han realizado órdenes</p>
    </div>
  </div>

  <div class="card">
    <div class="flex justify-between items-center mb-2">
      <h2 class="card-title">Historial de movimientos</h2>
      <button type="submit" class="border border-colorPrimary p-2 rounded text-colorPrimary hover:bg-colorPrimary hover:text-white">Ver historial completo</button>
    </div>
    <hr />
    <div class="flex flex-row justify-center mt-12 text-xl text-gray-400">
      <p class="font-semibold">No se han realizado movimientos</p>
    </div>
  </div>
</div>

