<!-- <h1 class="text-3xl font-bold">🏠 Dashboard</h1>
<p>Bienvenido al Dashboard principal.</p> -->
<!--  -->
<!-- Contenedor 1 -->
<div
class="bg-[url('https://cdn.pixabay.com/photo/2017/09/03/06/12/abstract-2709402_1280.png')] bg-cover bg-center bg-no-repeat p-10 mt-2 rounded-t-2xl"
>
<!-- https://media.istockphoto.com/id/1415091064/vector/blue-background-with-orange-and-yellow-color-composition-in-abstract-abstract-backgrounds.jpg?s=1024x1024&w=is&k=20&c=FNVcNQEkl-cqLyqiE60f1-dvbcRZ_gGikdmL2X3mxv4= -->
<div class="flex flex-row">
  <!-- Avatar -->
  <div class="p-2">
    <img
      class="w-20 h-20 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
      src="assets/img/avatar.jpg"
      alt="Bordered avatar"
    />
  </div>
  <!-- Texto -->
  <div class="p-1">
    <p class="text-white font-medium text-sm">Bienvenido</p>
    <h1 class="text-white font-semibold text-2xl">Juan Montalvo</h1>
    <div class="button mt-8">
      <button
        type="submit"
        class="p-3 rounded-md text-white font-semibold text-center bg-btn_secondary hover:bg-orange-400"
      >
        <i class="fa-solid fa-square-plus mr-1 text-md"></i> Agregar producto
      </button>
    </div>
  </div>
</div>
</div>

<!-- <div class="bg-primary p-10 mt-2 rounded-t-2xl">
  <div class="flex flex-row">
    <div class="p-2">
      <img
        class="w-20 h-20 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        src="assets/img/avatar.jpg"
        alt="Bordered avatar"
      />
    </div>
    <div class="p-1">
      <p class="text-white font-medium text-sm">Bienvenido</p>
      <h1 class="text-white font-semibold text-2xl">Juan Montalvo</h1>
      <div class="button mt-8">
        <button
          type="submit"
          class="p-3 rounded-md text-white font-semibold text-center bg-btn_secondary hover:bg-orange-400"
        >
          <i class="fa-solid fa-square-plus mr-1 text-md"></i> Agregar producto
        </button>
      </div>
    </div>
  </div>
</div> -->

<!-- Contenedor 2 -->

<div class="flex flex-row shadow-2xl p-10 justify-center gap-5">
    <!-- Primer contenedor -->
    <div class="w-[900px] h-[200px] border p-3 shadow-md">
      <div class="flex justify-between items-center mb-2">
        <h1 class="font-semibold text-lg">Últimas órdenes</h1>
        <button
          type="submit"
          class="p-3 text-primary font-semibold text-sm border hover:bg-primary hover:text-white rounded border-primary"
        >
          Ver historial completo
        </button>
      </div>
      <hr>
      <div class="flex flex-row justify-center mt-12 text-xl text-gray-400">
        <h1 class="font-semibold">No se han realizado órdenes</h1>
      </div>
    </div>
  
    <!-- Segundo contenedor -->
    <div class="w-[900px] h-[200px] border p-3 shadow-md">
      <div class="flex justify-between items-center mb-2">
        <h1 class="font-semibold text-lg">Historial de movimientos</h1>
        <button
          type="submit"
          class="p-3 text-primary font-semibold text-sm border hover:bg-primary hover:text-white rounded border-primary"
        >
          Ver historial completo
        </button>
      </div>
      <hr>
      <div class="flex flex-row justify-center mt-12 text-xl text-gray-400">
        <h1 class="font-semibold">No se han realizado movimientos</h1>
      </div>
    </div>
  </div>
  
