<!-- Contenedor Header -->
<div class="bg-blue-700 p-5">
  <div class="text-white font-semibold">
    <h1 class="text-2xl uppercase">Proveedores</h1>
  </div>
</div>
<!-- Body -->
<div class="flex flex-col p-5 bg-white border dark:bg-gray-900">
  <!-- Botón de acción -->
  <div class="flex justify-end mb-10">
    <button
      (click)="btnFormSupplier()"
      class="text-sm font-semibold rounded-md bg-blue-600 p-2 hover:bg-blue-700 text-white"
    >
      <i class="fa-solid fa-square-plus"></i> Nuevo proveedor
    </button>
  </div>

  <hr class="mb-5" />

  <!-- Tabla -->
  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="row-border hover whitespace-nowrap dark:text-white"
  ></table>
</div>
