<!-- Contenedor 1 -->
<div
  class="bg-colorPrimary bg-cover bg-center bg-no-repeat p-10 mt-2 rounded-t-2xl"
>
  <div class="flex justify-center">
    <!-- titulo -->
    <div class="p-1">
      <h1 class="text-white font-semibold text-2xl uppercase">Empleados</h1>
    </div>
  </div>
</div>

<div class="flex flex-col shadow-2xl p-5 bg-white">
  <!-- Button new employee -->
  <div class="m-5 flex justify-end">
    <button
      (click)="toggleModal()"
      class="ml-5 bg-green-400 hover:bg-green-500 font-semibold p-2 text-white rounded-md w-44"
    >
      Nuevo empleado
    </button>
  </div>
  <!-- ---- -->

  <form [formGroup]="EmployeesForm" class="flex flex-row mb-10">
    <div class="flex">
      <input
        placeholder="Buscar..."
        type="search"
        name="search"
        id="search"
        class="rounded-lg border-gray-300 p-2.5 italic"
      />
      <button
        class="ml-5 bg-colorSecondary font-semibold text-white rounded-md w-40 hover:bg-orange-400"
      >
        BUSCAR
      </button>
    </div>
  </form>

  <!-- TABLA -->
  <div class="h-full w-full bg-white">
    <div class="relative overflow-x-auto">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3 whitespace-nowrap">
              Código de empleado
            </th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap">
              N° Identificación
            </th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap">Nombres</th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap">Apellidos</th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap">Teléfono</th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap">
              Correo electrónico
            </th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap">F. Registro</th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap">Estado</th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let employee of employeesSignal()"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
          >
            <td
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ employee.codeEmployee }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ employee.dni }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ employee.name }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ employee.surname }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ employee.tlf }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ employee.email }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ employee.registration_date }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <label class="inline-flex items-center cursor-pointer">
                <input
                  [checked]="employee.status"
                  (change)="onStatusChange($event, employee)"
                  type="checkbox"
                  class="sr-only peer"
                />
                <div
                  class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
                ></div>
                <span
                  class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >{{ employee.status ? "Activo" : "Inactivo" }}</span
                >
              </label>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="flex">
                <button
                  (click)="toggleModal(employee)"
                  id="openModal"
                  class="bg-colorSecondary hover:bg-orange-400 p-2 text-white m-1 rounded-md"
                >
                  Actualizar
                </button>
                <button
                  (click)="deleteEmployee(employee.id)"
                  class="bg-colorDanger hover:bg-red-700 p-2 text-white m-1 rounded-md"
                >
                  Eliminar
                </button>
              </div>
            </td>
          </tr>

          <!-- Mostrar mensaje si no hay productos -->
          <tr *ngIf="employeesSignal().length === 0 && errorMessage">
            <td colspan="4" class="px-6 py-4 text-center text-red-500">
              {{ errorMessage }}
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Final Tabla -->
    </div>
  </div>
  <!-- Paginacion -->
  <nav
    class="flex items-center flex-column flex-wrap md:flex-row justify-between pt-4"
    aria-label="Table navigation"
  >
    <span
      class="text-sm font-normal text-gray-500 dark:text-gray-400 mb-4 md:mb-0 block w-full md:inline md:w-auto"
    >
      Mostrando
      <span class="font-semibold text-gray-900 dark:text-white">{{
        getEmployeesRange()
      }}</span>
      de
      <span class="font-semibold text-gray-900 dark:text-white">{{
        totalEmployees
      }}</span>
    </span>
    <ul class="inline-flex -space-x-px rtl:space-x-reverse text-sm h-8">
      <li>
        <button
          (click)="onPageChange(currentPage - 1)"
          [disabled]="currentPage === 1"
          class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          Anterior
        </button>
      </li>
      <li *ngFor="let page of pages">
        <button
          (click)="onPageChange(page)"
          [class]="
            page === currentPage
              ? 'text-blue-600 bg-blue-50'
              : 'text-gray-500 bg-white'
          "
          class="flex items-center justify-center px-3 h-8 leading-tight border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          {{ page }}
        </button>
      </li>
      <li>
        <button
          (click)="onPageChange(currentPage + 1)"
          [disabled]="currentPage === pages.length"
          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          Siguiente
        </button>
      </li>
    </ul>
  </nav>
  <!-- Final Paginacion -->
</div>

<!-- Modal-->
<app-modal
  *ngIf="showModal"
  [showModal]="showModal"
  [title]="titleModal"
  (closeModal)="toggleModal()"
>
  <form [formGroup]="EmployeesForm" (ngSubmit)="saveEmployee()">
    <div class="flex flex-col justify-center">
      <div class="mb-4 mt-4" *ngIf="isEditing">
        <div class="relative z-0 w-auto group">
          <input
            formControlName="codeEmployee"
            [disabled]="isEditing"
            type="text"
            name="floating_codeemployee"
            id="floating_codeemployee"
            class="block py-2.5 px-0 w-auto text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-colorPrimary peer flex-shrink-0"
            placeholder=" "
            required
          />
          <label
            for="floating_codeemployee"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-colorPrimary duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-colorPrimary peer-focus:dark:text-colorPrimary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Código de empleado</label
          >
        </div>
      </div>
      <!-- DNI -->
      <div class="mb-4 mt-4">
        <div class="relative z-0 w-48 group">
          <input
            formControlName="dni"
            type="text"
            name="floating_dni"
            id="floating_dni"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-colorPrimary peer flex-shrink-0"
            placeholder=" "
            required
          />
          <label
            for="floating_dni"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-colorPrimary duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-colorPrimary peer-focus:dark:text-colorPrimary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >N° Identificación</label
          >
        </div>
      </div>

      <!-- Nombres y apellidos -->
      <div class="flex flex-row mt-4">
        <div class="mb-4 mr-3">
          <div class="relative z-0 w-auto group">
            <input
              formControlName="name"
              type="text"
              name="floating_name"
              id="floating_name"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-colorPrimary peer flex-shrink-0"
              placeholder=" "
              required
            />
            <label
              for="floating_name"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-colorPrimary duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-colorPrimary peer-focus:dark:text-colorPrimary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Nombres completos</label
            >
          </div>
        </div>
        <div class="mb-4">
          <div class="relative z-0 w-auto group">
            <input
              formControlName="surname"
              type="text"
              name="floating_surname"
              id="floating_surname"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-colorPrimary peer flex-shrink-0"
              placeholder=" "
              required
            />
            <label
              for="floating_surname"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-colorPrimary duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-colorPrimary peer-focus:dark:text-colorPrimary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Apellidos completos</label
            >
          </div>
        </div>
      </div>

      <!-- Nombres y apellidos -->
      <div class="flex flex-row mt-4">
        <div class="mb-4 mr-3">
          <div class="relative z-0 w-64 group">
            <input
              formControlName="email"
              type="email"
              name="floating_email"
              id="floating_email"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-colorPrimary peer flex-shrink-0"
              placeholder=" "
              required
            />
            <label
              for="floating_email"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-colorPrimary duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-colorPrimary peer-focus:dark:text-colorPrimary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Correo Electrónico</label
            >
          </div>
        </div>
        <div class="mb-4">
          <div class="relative z-0 w-64 group">
            <input
              formControlName="tlf"
              type="tel"
              name="floating_tlf"
              id="floating_tlf"
              class="block py-2.5 px-0 w-auto text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-colorPrimary peer flex-shrink-0"
              placeholder=" "
              required
            />
            <label
              for="floating_tlf"
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-colorPrimary duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-colorPrimary peer-focus:dark:text-colorPrimary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
              >Teléfono de contacto</label
            >
          </div>
        </div>
      </div>

      <!-- DIRECCION DOMICILIO -->
      <div class="mb-4 mt-4">
        <div class="relative z-0 w-auto group">
          <input
            formControlName="address"
            type="text"
            name="floating_address"
            id="floating_address"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-colorPrimary peer flex-shrink-0"
            placeholder=" "
            required
          />
          <label
            for="floating_dni"
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-colorPrimary duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-colorPrimary peer-focus:dark:text-colorPrimary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            >Dirección domiciliaria</label
          >
        </div>
      </div>

      <!-- Roles -->
      <div class="mb-4 mt-4" *ngIf="!isEditing">
        <div class="relative z-0 w-full group">
          <label
            for="role"
            class="block mb-2 text-sm font-medium text-gray-500 dark:text-white"
            >Rol</label
          >
          <select
            id="role"
            formControlName="role"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option *ngFor="let role of roles" [value]="role.id">
              {{ role.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <button
      type="submit"
      class="bg-colorPrimary hover:bg-blue-800 text-white px-4 py-2 rounded"
    >
      {{ isEditing ? "Guardar cambios" : "Guardar" }}
    </button>
  </form>
</app-modal>
<!-- Fin modal -->
