<!-- Contenedor 1 -->
<div class="bg-blue-700 p-5">
  <div class="text-white font-semibold">
    <h1 class="text-2xl uppercase">Generación de orden</h1>
  </div>
</div>

<!-- Final contenedor 1 -->
<!-- Body Table-->
<div
  class="flex flex-col p-5 bg-white dark:bg-gray-900 dark:border-gray-700 rounded-lg mt-5"
>
  <p class="mt-5 mb-5 text-sm text-blue-500 dark:text-white font-semibold">
    <i class="fa-solid fa-circle-info mr-1"></i>Recuerde que solo se puede
    generar una órden por proveedor.
  </p>
  <!-- Contenedor de Selects -->
  <div class="flex mt-15">
    <!-- Select Proveedores -->
    <div class="relative mr-5">
      <label
        for="supplier"
        class="absolute text-smx text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
        >Proveedores</label
      >
      <select
        id="supplier"
        class="rounded-lg dark:bg-gray-800 dark:text-gray-400"
        (change)="onSupplierChange($event)"
      >
        <option value="" disabled selected>Selecciona un proveedor</option>
        <option
          *ngFor="let supplier of suppliers"
          [value]="supplier.id"
          class="dark:text-white"
        >
          {{ supplier.company_name }}
        </option>
      </select>
    </div>
    <!-- Final Select Proveedores -->

    <!-- Select de productos -->
    <div class="relative mr-5">
      <label
        for="product"
        class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white dark:bg-gray-900 px-2 peer-focus:px-2 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1"
        >Productos</label
      >
      <select
        #productSelect
        id="product"
        class="rounded-lg dark:bg-gray-800"
        (change)="addToTable(productSelect)"
      >
        <option value="" disabled selected>Selecciona un producto</option>
        <option
          *ngFor="let product of products"
          [value]="product.id"
          class="dark:text-white"
        >
          {{ product.barcode }} - {{ product.name }} -
          <small>[stock: {{ product.stock }}]</small> {{ product.name }} -
          <small>[stock: {{ product.stock }}]</small>
        </option>
      </select>
    </div>

    <!-- <div class="relative mr-5">
      <button (click)="cleanFilters()" class="bg-white p-2 border text-gray-600 font-semibold rounded">Limpiar filtros</button>
    </div> -->
    <!--Final Select Productos -->
  </div>
  <!-- Final de contenedores Selects -->

  <!-- Tabla de productos seleccionados -->
  <div class="h-full w-full bg-white mt-10">
    <div class="relative overflow-x-auto">
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
        <thead
          class="text-xs text-white uppercase bg-blue-600 dark:bg-blue-600 dark:text-white"
        >
          <tr>
            <th scope="col" class="px-6 py-3 whitespace-nowrap">
              Código de barra
            </th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap">Producto</th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap">Precio</th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap">Cantidad</th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap">Subtotal</th>
            <th scope="col" class="px-6 py-3 whitespace-nowrap"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let product of selectedProducts; trackBy: trackByProductId"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
          >
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ product.barcode }}
            </th>
            <th
              scope="row"
              class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
            >
              {{ product.name }}
            </th>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ product.purchase_price | currency }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <input
                class="rounded-lg dark:bg-gray-800 p-2 text-gray-600 font-semibold dark:text-white"
                type="number"
                [(ngModel)]="product.quantity"
                min="1"
              />
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap text-bold text-gray-900 dark:text-white"
            >
              {{ product.quantity * product.purchasePrice | currency }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <button
                class="bg-colorDanger hover:bg-red-700 p-2 font-semibold text-white m-1 rounded-md"
                (click)="removeProduct(product.id)"
              >
                <i class="fa-solid fa-circle-minus mr-1"></i>
                Quitar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Final tabla -->

  <!-- Total de la orden de compra -->
  <p class="font-bold ml-5 mt-5 text-xl text-gray-600 dark:text-white">
    Total: {{ getTotal() | currency }}
  </p>

  <!-- Boton para generar la orden de compra -->
  <button
    *ngIf="selectedProducts.length > 0"
    [disabled]="selectedProducts.length === 0"
    class="ml-5 mt-3 bg-blue-600 hover:bg-blue-700 rounded-md p-2 font-semibold text-white w-64"
    (click)="submitOrder()"
  >
    Generar pedido
  </button>
  <!-- Final de boton -->
</div>
<!-- Final Body -->
