<app-header
  [title]="titleComponent"
  [subtitle]="subtitleComponent"
></app-header>

<div class="bg-white dark:bg-gray-800">
  <div class="max-w-2xl mx-auto p-6">
    <form [formGroup]="form" class="grid grid-cols-1 gap-6 mt-8 mb-5">

       <!-- NO. Factura -->
      <div class="w-40">
        <label
          for="noFac"
          class="block text-sm font-medium text-gray-700 dark:text-gray-200"
          >No. Factura</label
        >
        <input
          type="text"
          formControlName="noFac"
          id="noFac"
          [ngClass]="{
            'border-red-500': f['noFac'].invalid && f['noFac'].touched
          }"
          placeholder="002-001-123456789"
          class="mt-1 block w-full rounded-lg border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 px-3 py-2 text-sm text-gray-900 dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <p
          *ngIf="f['noFac'].invalid && f['noFac'].touched"
          class="mt-1 text-sm text-red-500"
        >
          La numeración de la factura debe ser de 15 dígitos válidos.
        </p>
      </div>
      <!-- Proveedor -->
      <div>
        <label
          for="supplierId"
          class="block text-sm font-medium text-gray-700 dark:text-gray-200"
          >Proveedor</label
        >
        <select
          (change)="onSupplierChange($event)"
          formControlName="supplierId"
          id="supplierId"
          [ngClass]="{
            'border-red-500': f['supplierId'].invalid && f['supplierId'].touched
          }"
          class="mt-1 block w-full rounded-lg border border-gray-300 dark:border-gray-600 bg-gray-50 dark:bg-gray-700 px-3 py-2 text-sm text-gray-900 dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
          <option *ngIf="suppliers.length > 0" value="" disabled selected>
            Seleccione el proveedor
          </option>
          <option *ngIf="suppliers.length < 1" value="" disabled selected>
            No se encontraron proveedores
          </option>
          <option *ngFor="let type of suppliers" [value]="type.id">
            {{ type.company_name }}
          </option>
        </select>
        <p
          *ngIf="f['supplierId'].invalid && f['supplierId'].touched"
          class="mt-1 text-sm text-red-500"
        >
          Debe seleccionar un proveedor válido.
        </p>
      </div>

      <!-- Producto -->
      <div>
        <label
          for="supplierId"
          class="block text-sm font-medium text-gray-700 dark:text-gray-200"
          >Productos</label
        >
        <select
          #productSelect
          (change)="addToTable(productSelect)"
          formControlName="productId"
          id="product"
          [ngClass]="{
            'border-red-500': f['productId'].invalid && f['productId'].touched
          }"
          class="mt-1 block w-full rounded-lg border border-gray-300 dark:border-gray-600 bg-gray-50 dark:bg-gray-700 px-3 py-2 text-sm text-gray-900 dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
          <option *ngIf="products.length > 0" value="" disabled selected>
            Seleccione el producto
          </option>
          <option *ngIf="products.length < 1" value="" disabled selected>
            No se encontraron productos
          </option>
          <option *ngFor="let product of products" [value]="product.id">
            {{ product.barcode }} - {{ product.name }}
          </option>
        </select>
        <!-- <p
          *ngIf="f['productId'].invalid && f['productId'].touched"
          class="mt-1 text-sm text-red-500"
        >
          Debe seleccionar al menos un producto.
        </p> -->
      </div>

      <!-- <div class="w-40">
        <label
          for="productId"
          class="block text-sm font-medium text-gray-700 dark:text-gray-200"
          >Cod. Barra Producto</label
        >
        <input
          type="text"
          formControlName="productId"
          id="productId"
          placeholder="7861184991637"
          [ngClass]="{
            'border-red-500': f['productId'].invalid && f['productId'].touched
          }"
          class="mt-1 block w-full rounded-lg border border-gray-300 dark:border-gray-600 bg-white dark:bg-gray-700 px-3 py-2 text-sm text-gray-900 dark:text-white focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        <p
          *ngIf="f['productId'].invalid && f['productId'].touched"
          class="mt-1 text-sm text-red-500"
        >
          Debe ingresar el código de barra del producto
        </p>
      </div> -->

      <!-- Botón -->
    </form>
  </div>
  <!-- Tabla de productos seleccionados -->
  <div *ngIf="selectedProducts.length > 0" class="w-full mt-10 bg-white dark:bg-gray-800 rounded-xl p-4">
    <div class="overflow-x-auto rounded-lg">
      <table class="min-w-full text-sm text-left text-gray-700 dark:text-white">
        <thead
          class="text-xs uppercase bg-blue-500 text-white dark:bg-blue-700"
        >
          <tr>
            <th class="px-6 py-3 whitespace-nowrap">Código de barra</th>
            <th class="px-6 py-3 whitespace-nowrap">Producto</th>
            <th class="px-6 py-3 whitespace-nowrap">Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let product of selectedProducts; trackBy: trackByProductId"
            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700 transition"
          >
            <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">
              {{ product.barcode }}
            </td>
            <td class="px-6 py-4">{{ product.name }}</td>
            <td class="px-6 py-4">
              <input
                type="number"
                min="1"
                [(ngModel)]="product.quantity"
                class="w-20 px-2 py-1 border border-gray-300 rounded-md dark:bg-gray-700 dark:border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-400 dark:focus:ring-blue-500"
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-8" *ngIf="selectedProducts.length > 0">
      <button
        class="flex items-center justify-center gap-2 px-4 py-2 bg-blue-600 text-white text-sm font-semibold rounded-md hover:bg-blue-700 transition"
      >
        <i class="fa-solid fa-floppy-disk"></i>
        Guardar factura
      </button>
    </div>
  </div>
</div>
