
<div
  *ngIf="visible"
  class="absolute inset-0 z-40 flex items-center justify-center bg-white/60 dark:bg-gray-800/60 backdrop-blur-sm"
>
  <div
    [ngClass]="{
      'animate-fade-zoom-in': !isClosing,
      'animate-fade-zoom-out': isClosing
    }"
    class="bg-white dark:bg-gray-900 rounded-lg shadow-2xl w-full max-w-md p-6 border border-gray-200 dark:border-gray-700 transform transition-all duration-300"
  >
    <h2 class="text-lg font-semibold text-gray-800 dark:text-white mb-4">
      {{ title }}
    </h2>

    <form (ngSubmit)="submit()">
      <ng-content></ng-content>

      <div class="flex justify-end gap-3 mt-6">
        <button
          type="button"
          (click)="closeModal()"
          class="px-4 py-2 text-sm text-gray-600 hover:cursor-pointer hover:text-gray-800 dark:text-gray-300 dark:hover:text-white dark:bg-gray-800 rounded"
        >
          Cancelar
        </button>
        <button
          type="submit"
          class="px-4 py-2 bg-gradient-to-r from-indigo-500 to-blue-600 hover:cursor-pointer text-white rounded hover:bg-green-700 text-sm font-semibold"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
