<div class="h-screen flex flex-col items-center justify-center">
  <h1
    class="text-2xl font-bold tracking-tight text-primary leading-none mb-4 text-center"
  >
    ¡Hola!,
    <span class="bg-primary text-white rounded-br-xl p-1">Bienvenido</span>
  </h1>
  <p class="pb-5 text-gray-400 text-sm">
    Ingresa con tus credenciales de acceso
  </p>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onLogin()"
    class="max-w-md w-full mx-auto"
  >
    <div class="relative z-0 w-full mb-5 group">
      <input
        formControlName="username"
        type="text"
        name="floating_username"
        id="floating_username"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-primary peer flex-shrink-0"
        placeholder=" "
        required
      />
      <div
        *ngIf="
          loginForm.get('username')?.invalid &&
          loginForm.get('username')?.touched
        "
        class="text-red-500 font-medium text-sm italic"
      >
        El nombre de usuario es requerido.
      </div>
      <label
        for="floating_username"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-primary peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Usuario</label
      >
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input
        type="password"
        formControlName="password"
        name="floating_password"
        id="floating_password"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary focus:outline-none focus:ring-0 focus:border-primary peer flex-shrink-0"
        placeholder=" "
        required
      />
      <div
        *ngIf="
          loginForm.get('password')?.invalid &&
          loginForm.get('password')?.touched
        "
        class="text-red-500 font-medium text-sm italic"
      >
        La contraseña es requerida.
      </div>
      <label
        for="floating_password"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-primary peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
        >Contraseña</label
      >
    </div>
    <button
      [disabled]="loginForm.invalid"
      type="submit"
      [ngClass]="{
        'bg-primary hover:bg-blue-800 focus:ring-blue-300': !loginForm.invalid,
        'bg-secondary cursor-not-allowed': loginForm.invalid
      }"
      class="text-white font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center flex-shrink-0 focus:outline-none focus:ring-4"
    >
      Ingresar
    </button>
  </form>
</div>
