<!-- Header -->
<div class="bg-blue-700 p-5">
  <h1 class="text-white font-semibold text-2xl uppercase">Proveedores</h1>
</div>

<!-- Card Body -->
<div class="flex flex-col border-gray-100 rounded mt-5">
  <!-- Título del formulario -->
  <div class="p-2 bg-gray-200">
    <h2 class="text-sm font-semibold text-gray-600 uppercase">
      {{ isUpdate ? "ACTUALIZACION DE PROVEEDOR" : "NUEVO PROVEEDOR" }}
    </h2>
  </div>
  <!-- *********************************************** -->
  <div class="max-w-xl mx-auto bg-white p-6 rounded-2xl">
    <div class="title">
      <h1 class="font-medium text-xl text-gray-500">DETALLES</h1>
    </div>
    <!-- *********************** -->

    <form [formGroup]="form">
      <!--**********************************-->
      <div class="flex mt-5 mb-5">
        <div class="w-42 mr-4">
          <label
            for="typeofdocumentId"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Tipo de documento</label
          >
          <select
            formControlName="typeofdocumentId"
            id="typeofdocumentId"
            [ngClass]="{
              'border-red-500':
                f['typeofdocumentId'].invalid && f['typeofdocumentId'].touched
            }"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          >
            <option
              *ngIf="tyOfDocs.length > 0"
              disabled
              class="font-semibold"
              value=""
            >
              Tipos de documentos disponibles
            </option>
            <option
              *ngIf="tyOfDocs.length < 1"
              disabled
              class="font-semibold"
              value=""
            >
              No hay tipos de documentos disponibles
            </option>
            <option *ngFor="let typeOfDoc of tyOfDocs" [value]="typeOfDoc.id">
              {{ typeOfDoc.name }}
            </option>
          </select>
          <div
            *ngIf="
              f['typeofdocumentId'].invalid && f['typeofdocumentId'].touched
            "
            class="text-red-500 text-sm"
          >
            Debe seleccionar un tipo de documento.
          </div>
        </div>

        <div class="w-36 mr-4">
          <label
            for="ruc"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >N° Identificación</label
          >
          <input
            formControlName="ruc"
            placeholder="0812345678"
            type="text"
            id="ruc"
            [ngClass]="{
              'border-red-500': f['ruc'].invalid && f['ruc'].touched
            }"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
          <div
            *ngIf="f['ruc'].invalid && f['ruc'].touched"
            class="text-red-500 text-sm"
          >
            El numero de identificación debe tener 13 digitos.
          </div>
        </div>
      </div>
      <!--************************************************************-->
      <div class="flex mt-5 mb-5">
        <div class="w-full mr-4">
          <label
            for="company_name"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Nombre del proveedor</label
          >
          <input
            formControlName="company_name"
            placeholder="Ingrese el nombre del proveedor"
            type="text"
            id="company_name"
            [ngClass]="{
              'border-red-500':
                f['company_name'].invalid && f['company_name'].touched
            }"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
          <div
            *ngIf="f['company_name'].invalid && f['company_name'].touched"
            class="text-red-500 text-sm"
          >
            El nombre del proveedor es obligatorio.
          </div>
        </div>
      </div>
      <!--**************************************-->
      <div class="flex mt-5 mb-5">
        <div class="w-full mr-4">
          <label
            for="legal_representative"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Nombre de encargado</label
          >
          <input
            formControlName="legal_representative"
            placeholder="Ingrese el nombre del encargado legal"
            type="text"
            id="legal_representative"
            [ngClass]="{
              'border-red-500':
                f['legal_representative'].invalid &&
                f['legal_representative'].touched
            }"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
          <div
            *ngIf="
              f['legal_representative'].invalid &&
              f['legal_representative'].touched
            "
            class="text-red-500 text-sm"
          >
            El nombre del representante es obligatorio.
          </div>
        </div>
      </div>
      <!--**************************************-->
      <div class="flex mt-5 mb-5">
        <div class="w-full mr-4">
          <label
            for="phone"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Teléfono</label
          >
          <input
            formControlName="phone"
            placeholder="0991234567"
            type="tel"
            id="phone"
            [ngClass]="{
              'border-red-500': f['phone'].invalid && f['phone'].touched
            }"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
          <div
            *ngIf="f['phone'].invalid && f['phone'].touched"
            class="text-red-500 text-sm"
          >
            El teléfono es obligatorio.
          </div>
        </div>
        <div class="w-full mr-4">
          <label
            for="email"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Correo electrónico</label
          >
          <input
            formControlName="email"
            placeholder="Ingrese el correo electrónico"
            type="email"
            id="email"
            [ngClass]="{
              'border-red-500': f['email'].invalid && f['email'].touched
            }"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
          <div
            *ngIf="f['email'].invalid && f['email'].touched"
            class="text-red-500 text-sm"
          >
            El correo electrónico es obligatorio.
          </div>
        </div>
      </div>
      <!--**************************************-->
      <div class="flex mt-5 mb-5">
        <div class="w-full mr-4">
          <label
            for="country"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >País</label
          >
          <input
            formControlName="country"
            placeholder="Ecuador"
            type="text"
            id="country"
            [ngClass]="{
              'border-red-500': f['country'].invalid && f['country'].touched
            }"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
          <div
            *ngIf="f['country'].invalid && f['country'].touched"
            class="text-red-500 text-sm"
          >
            El país es obligatorio.
          </div>
        </div>
        <div class="w-full mr-4">
          <label
            for="city"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Ciudad</label
          >
          <input
            formControlName="city"
            placeholder="Quito"
            type="text"
            id="city"
            [ngClass]="{
              'border-red-500': f['city'].invalid && f['city'].touched
            }"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
          <div
            *ngIf="f['city'].invalid && f['city'].touched"
            class="text-red-500 text-sm"
          >
            La ciudad es obligatorio.
          </div>
        </div>
      </div>
      <!--**************************************-->
      <div class="flex mt-5 mb-5">
        <div class="w-full mr-4">
          <label
            for="address"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Direccion</label
          >
          <textarea
            formControlName="address"
            placeholder="Ingrese la dirección del proveedor"
            [ngClass]="{
              'border-red-500': f['address'].invalid && f['address'].touched
            }"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
            id="address"
          ></textarea>
        </div>
      </div>
      <!--***********************************-->
      <div class="flex gap-4 mt-5">
        <button
          (click)="btnBack()"
          class="text-gray-600 font-semibold rounded-md dark:text-white dark:bg-gray-600 dark:hover:bg-gray-400 text-sm p-3 pr-5 pl-5 w-auto hover:bg-gray-200"
        >
          Cancelar
        </button>
        <button
          (click)="saveSupplier()"
          class="bg-blue-600 text-white text-sm font-semibold rounded-md p-3 pr-5 pl-5 hover:bg-blue-700"
        >
          <i class="fa-solid fa-floppy-disk mr-1"></i>
          {{ isUpdate ? "Guardar cambios" : "Añadir" }}
        </button>
      </div>
    </form>
  </div>
</div>
