<app-header
  [title]="titleComponent"
  [subtitle]="subtitleComponent"
  [isUpdate]="isUpdate"
></app-header>

<div id="card-body" class="flex flex-col bg-white dark:bg-gray-800">
  <!-- Formulario -->
  <div class="max-w-xl mx-auto p-6 rounded-2xl">
    <!-- ****************************** -->
    <div class="title">
      <h1 class="font-medium text-xl text-gray-500">DETALLES</h1>
    </div>
    <!-- ************************ -->
    <form [formGroup]="form">
      <!-- Primera fila -->
      <div class="flex mt-5 mb-5">
        <div class="w-42 mr-4">
          <label
            for="supplierId"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Proveedor</label
          >
          <select
            formControlName="supplierId"
            id="supplierId"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          >
            <option value="" disabled selected>Selecciona el proveedor</option>
            <option *ngFor="let supplier of suppliers" [value]="supplier.id">
              {{ supplier.company_name }}
            </option>
          </select>
        </div>

        <div class="w-42 mr-4">
          <label
            for="stock"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Categoria</label
          >
          <select
            id="categoryId"
            formControlName="categoryId"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          >
            <option value="" disabled selected>Selecciona la categoria</option>
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>
      </div>

      <!-- Segunda fila -->
      <div class="flex mt-5 mb-5" *ngIf="isUpdate">
        <div class="w-36 mr-4">
          <label
            for="barcode"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Código Interno</label
          >
          <input
            formControlName="code"
            [disabled]="isEditing"
            type="text"
            id="barcode"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
        </div>
      </div>

      <div class="flex mt-5 mb-5">
        <div class="w-full mr-4">
          <label
            for="barcode"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            ><i class="fa-solid fa-barcode mr-1"></i>Código de barra</label
          >
          <input
            formControlName="barcode"
            placeholder="Escanee o ingrese el código de barras"
            type="text"
            id="barcode"
            [ngClass]="{
              'border-red-500': f['barcode'].invalid && f['barcode'].touched
            }"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
          <div
            *ngIf="f['barcode'].invalid && f['barcode'].touched"
            class="text-red-500 text-sm"
          >
            El código de barras es obligatorio y debe tener 13 dígitos.
          </div>
        </div>
      </div>
      <div class="flex mt-5 mb-5">
        <div class="w-full mr-4">
          <label
            for="name"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Nombre del producto o servicio</label
          >
          <input
            formControlName="name"
            placeholder="Ingrese el nombre del producto o servicio"
            type="text"
            id="name"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
        </div>
      </div>

      <!-- Tercera fila - Stock -->
      <div class="flex mt-5 mb-5">
        <div class="w-42 mr-4">
          <label
            for="unitOfMeasurementId"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Unidad de medida</label
          >
          <select
            formControlName="unitOfMeasurementId"
            id="unitOfMeasurementId"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          >
            <option value="" disabled selected>
              Selecciona la unidad de medida
            </option>
            <option *ngFor="let unit of unitsOfMeasurement" [value]="unit.id">
              {{ unit.name }}
            </option>
          </select>
        </div>
        <div class="w-36 mr-4">
          <label
            for="addStock"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Stock</label
          >
          <input
            formControlName="addStock"
            type="number"
            id="addStock"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
          />
        </div>
      </div>

      <!-- Cuarta fila - Precios -->
      <div class="flex mt-10 mb-5">
        <div class="w-42 mr-4">
          <label
            for="purchasePrice"
            class="text-sm font-semibold text-gray-500 dark:text-white"
          >
            $ Precio de compra <small>(Proveedor)</small>
          </label>
          <input
            formControlName="purchasePrice"
            type="text"
            id="purchasePrice"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
            placeholder="$ 0.00"
          />
        </div>
        <div class="w-42">
          <label
            for="salePrice"
            class="text-sm font-semibold text-gray-500 dark:text-white"
          >
            $ Precio de venta <small>(Público)</small>
          </label>
          <!-- ToolTip -->
          <!-- <div class="relative group inline-block">
            <i class="fa-solid fa-circle-info text-indigo-500 ml-2"></i>
            <div
              class="absolute left-1/2 transform -translate-x-1/2 bottom-full mb-2 w-40 bg-gray-900 text-white text-sm px-3 py-2 rounded-md opacity-0 group-hover:opacity-100 transition-opacity duration-300"
            >
              <small
                >Recuerde tener en cuenta que si el precio de venta del producto
                ya incluye el I.V.A. debe ingresar el valor total de venta
                calculado con el I.V.A (P.V.P * 15/100).</small
              >
            </div>
          </div> -->
          <!-- Final Tooltip -->
          <input
            formControlName="salePrice"
            type="text"
            id="salePrice"
            class="rounded text-sm p-2 block w-52 border border-gray-300 dark:bg-gray-800"
            placeholder="$ 0.00"
          />
        </div>
      </div>

      <!-- Quinta fila -->
      <div class="flex mt-5 mb-5">
        <div class="w-full mr-4">
          <label
            for="barcode"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Descripcion</label
          >
          <textarea
            formControlName="description"
            placeholder="Ingrese una descripción breve del producto o servicio"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:bg-gray-800"
            id="barcode"
          ></textarea>
        </div>
      </div>

      <!-- Quinta fila -->
      <div class="flex mt-5 mb-5">
        <div class="mr-4">
          <button
            (click)="btnBack()"
            class="text-gray-500 rounded-md hover:bg-gray-200 dark:text-white dark:bg-gray-600 dark:hover:bg-gray-400 text-sm font-semibold p-3 pr-5 pl-5 w-auto mr-2"
          >
            Cancelar
          </button>
          <button
            [disabled]="form.invalid"
            (click)="saveProduct()"
            [ngClass]="{
              'bg-blue-600': form.valid,
              'bg-gray-400': form.invalid,
              'hover:bg-blue-700': form.valid && !isUpdate,
            }"
            class="bg-blue-600 text-white text-sm font-semibold rounded-md pr-5 pl-5 pt-3 pb-3 w-auto hover:bg-blue-700 mr-2"
          >
            <i class="fa-solid fa-floppy-disk mr-1"></i>
            {{ isUpdate ? "Guardar cambios" : "Guardar" }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
