
<div class="bg-blue-700 p-5">
  <div class="text-white font-semibold">
    <h1 class="text-2xl uppercase">Productos</h1>
  </div>
</div>

<!-- Body -->
<div class="flex flex-col p-5 dark:text-white border dark:bg-gray-900 bg-white">
  <div class="flex flex-col">
    <div class="flex justify-end mb-10">
      <button
        (click)="routeToNewProduct()"
        class="text-sm font-semibold rounded-md bg-blue-600 pt-3 pb-3 pl-10 mr-3 pr-10 hover:bg-blue-700 text-white"
      >
        <i class="fa-solid fa-square-plus mr-1"></i> Nuevo
      </button>
      <button
        (click)="downloadExcel()"
        class="text-sm font-semibold rounded-md pt-3 pb-3 pl-10 pr-10 mr-3 text-blue-600 border hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <i class="fa-solid fa-upload mr-1 text-blue-600"></i> Excel
      </button>
      <button
      (click)="downloadAllProductsPdf()"
        class="text-sm font-medium rounded-md pt-3 pb-3 pl-10 pr-10 border text-red-600 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        <i class="fa-solid fa-upload mr-1 text-red-600"></i> pdf
      </button>
    </div>
    <hr class="mb-5" />
    <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="row-border hover whitespace-nowrap"
    ></table>
  </div>
</div>
