<app-header
  [title]="titleComponent"
  [subtitle]="subtitleComponent"
></app-header>

<!-- Body -->
<div class="flex flex-col p-5 bg-white dark:bg-gray-800">
  <div class="flex justify-end mb-10">
    <!-- <button
      (click)="downloadExcel()"
      class="bg-green-500 text-white text-sm font-semibold rounded-sm p-2 w-auto hover:bg-green-600 mr-2"
    >
      <i class="fa-solid fa-file-excel"></i> Descargar Excel
    </button> -->
    <button
    (click)="printAllPDF()"
      class="bg-red-600 text-white text-sm font-semibold rounded-md p-2 w-auto hover:bg-red-700"
    >
      <i class="fa-solid fa-download"></i> Descargar reporte PDF
    </button>
  </div>

   <table
      datatable
      [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"
      class="row-border hover whitespace-nowrap min-w-full dark:text-white dark:bg-gray-800"
    ></table>
</div>
<!-- Final del body -->
