<!-- Sidebar -->
<nav
  class="flex flex-col group w-16 hover:w-64  bg-white text-white h-full transition-[width] duration-300 ease-in-out shadow-2xl"
>
  <!-- Imagen -->
  <div class="p-2 flex items-center justify-center">
    <!-- src="assets/img/banner-posdek.png" -->
    <img
      src="assets/img/new_logo.png"
      alt="banner"
      class="w-36 h-auto object-cover flex-shrink-0 transform-none"
    />
  </div>
  <hr class="bg-primary">

  <!-- Lista de opciones en el sidebar-->
  <ul class="space-y-2 p-2 flex-grow">
    <li *ngFor="let option of sidebarOptions; let i = index">
      <!-- Opción Principal -->
      <a
        *ngIf="!option.children"
        [routerLink]="option.route"
        class="flex items-center p-2 hover:bg-gray-200 rounded cursor-pointer"
      >
        <i [ngClass]="option.iconClass" class="text-sm text-indigo-600"></i>
        <span class="ml-4 hidden group-hover:inline-block text-sm font-semibold text-gray-500">{{ option.title }}</span>
      </a>

      <!-- Opción con Submenú -->
      <div
        *ngIf="option.children"
        (click)="toggleSubmenu(i)"
        class="flex items-center p-2 hover:bg-gray-200 text-sm text-indigo-600 rounded cursor-pointer"
      >
        <i [ngClass]="option.iconClass" class="text-sm text-indigo-600"></i>
        <span class="ml-4 hidden group-hover:inline-block text-sm font-semibold text-gray-500">{{ option.title }}</span>
        <i
          *ngIf="option.children"
          class="ml-auto fa-solid text-indigo-600"
          [ngClass]="{
            'fa-chevron-down': activeIndex === i,
            'fa-chevron-right': activeIndex !== i
          }"
        ></i>
      </div>

      <!-- Submenú -->
      <ul
        *ngIf="option.children && activeIndex === i"
        class="space-y-1 ml-6 border-l-2 border-gray-600 text-gray-500"
      >
        <li *ngFor="let child of option.children">
          <a
            [routerLink]="child.route"
            class="flex items-center p-2 hover:bg-gray-200 rounded text-gray-500"
          >
            <i [ngClass]="child.iconClass" class="text-sm text-gray-500"></i>
            <span class="ml-4 text-sm text-gray-500">{{ child.title }}</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <!-- Footer -->
  <div class="mt-auto p-2 m-1">
    <a
    (click)="whatsApp()"
    class="flex items-center bg-green-400 text-white p-2 rounded cursor-pointer mb-1"
  >
    <i class="fa-brands fa-whatsapp"></i>
    <span class="ml-4 hidden group-hover:inline-block text-sm">Soporte WhatsApp</span>
  </a>
    <a
      (click)="logout()"
      class="flex items-center p-2 text-white bg-red-600 rounded cursor-pointer"
    >
      <i class="fa-solid fa-right-from-bracket text-sm "></i>
      <span class="ml-4 hidden group-hover:inline-block text-sm ">Cerrar Sesión</span>
    </a>
  </div>
</nav>


