<app-header
  [title]="titleComponent"
  [subtitle]="subtitleComponent"
  [isUpdate]="isUpdate"
></app-header>

<div class="flex flex-col bg-white dark:bg-gray-800">
  <!-- *********************************************** -->
  <div class="max-w-xl mx-auto p-6">
    <div class="title">
      <h1 class="font-medium text-xl text-gray-500">DETALLES</h1>
    </div>
    <!-- ************************************************* -->
    <form [formGroup]="form">
      <!--**********************************-->
      <div *ngIf="isUpdate" class="flex mt-5">
        <div class="w-full">
          <label
            for="input-employee"
            class="text-gray-600 text-sm font-semibold mb-1"
            >Colaborador</label
          >
          <input
            class="rounded-md w-full border-gray-300 dark:text-white dark:bg-gray-700"
            formControlName="employee"
            type="text"
            id="input-employee"
            placeholder="Ingrese un usuario para el empleado"
            required
          />
        </div>
      </div>
      <!--**********************************-->
      <!-- Select empleado -->
      <div *ngIf="!isUpdate" class="flex mt-5 mb-5">
        <div class="w-full">
          <label
            for="employeeId"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Colaborador</label
          >
          <select
            formControlName="employeeId"
            id="employeeId"
            [ngClass]="{
              'border-red-500':
                f['employeeId'].invalid && f['employeeId'].touched
            }"
            class="rounded text-sm mt-1 p-2 block w-full border border-gray-300 dark:text-white dark:bg-gray-800"
          >
            <option
              *ngIf="employees.length > 0"
              disabled
              selected
              class="font-semibold"
              value=""
            >
              Colaborador disponible
            </option>
            <option
              *ngIf="employees.length < 1"
              disabled
              selected
              class="font-semibold"
              value=""
            >
              No hay colaboradores sin credenciales
            </option>
            <option *ngFor="let emp of employees" [value]="emp.id">
              {{ emp.name }} {{ emp.surname }}
            </option>
          </select>
          <div
            *ngIf="f['employeeId'].invalid && f['employeeId'].touched"
            class="text-red-500 text-sm"
          >
            Debe seleccionar al menos un colaborador.
          </div>
        </div>
      </div>
      <!--************************************************************-->

      <div class="flex mt-5 mb-5">
        <div class="w-full">
          <label
            for="roleId"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Cargo</label
          >
          <select
            formControlName="roleId"
            id="roleId"
            [ngClass]="{
              'border-red-500': f['roleId'].invalid && f['roleId'].touched
            }"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:text-white dark:bg-gray-800"
          >
            <option
              *ngIf="roles.length > 0"
              disabled
              class="font-semibold"
              value=""
            >
              Seleccione un cargo
            </option>
            <option
              *ngIf="roles.length < 1"
              disabled
              class="font-semibold"
              value=""
            >
              No hay cargos disponibles
            </option>
            <option *ngFor="let role of roles" [value]="role.id">
              {{ role.name }}
            </option>
          </select>
          <div
            *ngIf="f['roleId'].invalid && f['roleId'].touched"
            class="text-red-500 text-sm"
          >
            Debe seleccionar un cargo.
          </div>
        </div>
      </div>
      <!--***************************************************-->
      <div class="flex mt-5 mb-5">
        <div class="w-42 mr-4">
          <label
            for="username"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Usuario</label
          >
          <input
            formControlName="username"
            placeholder="Nombre de usuario"
            type="text"
            id="username"
            [ngClass]="{
              'border-red-500': f['username'].invalid && f['username'].touched
            }"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:text-white dark:bg-gray-800"
          />
          <div
            *ngIf="f['username'].invalid && f['username'].touched"
            class="text-red-500 text-sm"
          >
            El nombre de usuario es obligatorio.
          </div>
        </div>

        <div *ngIf="!isUpdate" class="w-42">
          <label
            for="password"
            class="text-sm font-semibold text-gray-500 dark:text-white"
            >Contraseña</label
          >
          <input
            formControlName="password"
            placeholder="Contraseña"
            type="password"
            id="password"
            [ngClass]="{
              'border-red-500': f['password'].invalid && f['password'].touched
            }"
            class="rounded text-sm p-2 block w-full border border-gray-300 dark:text-white dark:bg-gray-800"
          />
          <div
            *ngIf="f['password'].invalid && f['password'].touched"
            class="text-red-500 text-sm"
          >
            La contraseña es obligatoria.
          </div>
        </div>
      </div>
      <button
            (click)="routeBack()"
            class="text-gray-500 rounded-md hover:bg-gray-200 dark:text-white dark:bg-gray-600 dark:hover:bg-gray-400 text-sm font-semibold p-3 pr-5 pl-5 w-auto mr-2"
          >
            Cancelar
          </button>
      <button
        [disabled]="form.invalid && !isUpdate"
        type="submit"
        (click)="onSubmit()"
        [ngClass]="{
          'opacity-50 cursor-not-allowed': form.invalid && !isUpdate,
          'opacity-100 cursor-pointer': !form.invalid || isUpdate
        }"
        class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-4 py-2 rounded-md"
      >
        {{ isUpdate ? "Actualizar" : "Guardar" }}
      </button>
    </form>
  </div>
</div>
