/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@import "ngx-toastr/toastr-bs4-alert";
@import "ngx-toastr/toastr";
@layer base {
  body {
    @apply font-sans;
  }
}

body {
  background: #f5f7fa;
  font-family: "Sora", sans-serif;
}

.dataTable thead {
  background-color: #fff !important; /* Azul */
  color: white !important; /* Texto blanco */
}

.dataTable thead th {
  border-bottom: 2px solid #9c9c9c !important;
}

th {
  text-align: center !important;
  white-space: nowrap; /* Evita que los títulos se rompan en varias líneas */
}

td {
  text-align: center !important;
}

/* LOGIN STYLES */
.input-modern {
  @apply w-full px-4 py-2 rounded-md border border-gray-300 dark:border-gray-600 
         bg-white dark:bg-gray-800 text-gray-900 dark:text-white focus:outline-none 
         focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200;
}
