/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import 'ngx-toastr/toastr-bs4-alert';
@import 'ngx-toastr/toastr';
@layer base {
  body {
    @apply font-sans;
  }
}

.dataTable thead {
  background-color: #1c64f2 !important; /* Azul */
  color: white !important; /* Texto blanco */
}

.dataTable thead th {
  border-bottom: 2px solid #acacac !important;
}

.card {
  @apply w-full max-w-4xl h-auto border p-3 shadow-md;
}

.card-title {
  @apply font-semibold text-lg;
}


  .input-field {
    @apply rounded p-2 block w-full border border-gray-300;
  }
  .radio-label {
    @apply flex items-center space-x-2;
  }
  .radio-input {
    @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500;
  }

  th {
    text-align: center !important;
    white-space: nowrap; /* Evita que los títulos se rompan en varias líneas */
  }
  td {
    text-align: center !important;
  }