<!-- Contenedor 1 -->
<div class="bg-primary bg-cover bg-center bg-no-repeat p-10 mt-2 rounded-t-2xl">
  <div class="flex justify-center">
    <!-- titulo -->
    <div class="p-1">
      <h1 class="text-white font-semibold text-2xl">Notificaciones</h1>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <h1 class="text-md font-semibold m-5 text-gray-600">
    Administra las notificaciones y correos que deseas recibir
  </h1>
</div>
<!-- Contenedor 2 -->
<div class="flex flex-row shadow-2xl p-10 justify-center gap-5">
  <!-- Card -->
  <div class="w-[400px] h-[200px] border p-3 shadow-md">
    <div class="flex justify-between items-center mb-2">
      <h1 class="font-bold text-primary text-sm">Stock bajo</h1>

      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" value="" class="sr-only peer" checked />
        <div
          class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
        ></div>
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Activo</span
        >
      </label>
    </div>
    <hr />
    <div class="flex flex-row justify-center mt-12 text-sm text-gray-600">
      <p class="font-medium">
        Se enviará una alerta de correo cuando el stock del inventario este por
        debajo del límite.
      </p>
    </div>
  </div>
  <!--Card -->
  <div class="w-[400px] h-[200px] border p-3 shadow-md">
    <div class="flex justify-between items-center mb-2">
      <h1 class="font-bold text-primary text-sm">Transferencias entre puntos</h1>

      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" value="" class="sr-only peer" checked />
        <div
          class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
        ></div>
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Activo</span
        >
      </label>
    </div>
    <hr />
    <div class="flex flex-row justify-center mt-12 text-sm text-gray-600">
      <p class="font-medium">
        Se enviará una alerta de correo cuando exista una transferencia entre puntos.
      </p>
    </div>
  </div>
</div>
